* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin-top: 170px;
}
.navbar {
  border: 1px solid #e5e5e5;
  padding: 5px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logo img {
  vertical-align: bottom;
}

.main {
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;
  padding: 104px 0 154px 0;
}

.main-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #030305;
  margin-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-text {
  font-size: 16px;
  line-height: 130%;
  color: #030305;
  margin-bottom: 40px;
  max-width: 502px;
}
.container button {
  padding: 20px;
  width: 334px;
  height: 64px;
  background: #030305;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  transition: background-color 0.5s;
}
.button:hover {
  cursor: pointer;
  background: #575757;
}
.car {
  padding: 100px 0;
}
.sub-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #030305;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.car-items {
  align-items: center;
  justify-content: space-between;
}
.car-item {
  max-width: 384px;
  text-align: center;
  margin-top: 40px;
}
.car-item-image:hover img {
  transform: scale(1.1);
}
.car-item-image img {
  vertical-align: bottom;
  transition: all 0.3s;
}

.car-item-title {
  font-weight: bold;
  font-size: 23px;
  line-height: 150%;
  padding: 15px 0 17px 0;
  letter-spacing: 0.02em;
  color: #030305;
}
.car-item-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-item-point {
  width: 110px;
  height: 92px;
  margin: 0 7.5px;
}
.car-item-point img {
  margin-bottom: 11px;
}
.car-item-action {
  margin-top: 13px;
}
.car-item-action button {
  width: 100%;
  padding: 15px;
  height: 54px;
}
.car-item-point > div:nth-child(2) {
  font-weight: bold;
}
.price {
  overflow: hidden;
}
.price .container {
  position: relative;
  padding-bottom: 121px;
}
.price .sub-title {
  margin-bottom: 20px;
}
.price-text {
  font-size: 16px;
  line-height: 130%;
  color: #5d5d5f;
  margin: 30px 0;
}
.price-form {
  max-width: 344px;
}
.price-input {
  padding: 22px 18px;
  width: 344px;
  height: 65px;
  background: #ffffff;
  border: 1px solid #5d5d5f;
  box-sizing: border-box;
  font-size: 16px;
  color: #000000;
  outline: none;
  margin-bottom: 15px;
}
.price-input::placeholder {
  color: #5d5d5f;
}
.price .button {
  width: 100%;
}
.price-image {
  position: absolute;
  bottom: 0;
  left: 401px;
}
.footer {
  border-top: 1px solid #e5e5e5;
  padding: 5px 0;
  margin:0;
}
.footer .container {
  display: flex;
  align-items:center;
  justify-content: space-between;
  
}
.rights {
  font-size: 15px;
  color: #030305;
 text-align: end;
}
.github {
  font-size: 12px;
  opacity: 0.7;
}
footer img{
  text-align: left;

}

@media (max-width: 820px) {
  body {
    margin-top: 50px;
    text-align: center;
  }
  .car {
    margin-top: 30px;
    padding: 0;
    margin-bottom: 40px;
  }
  .main {
    padding: 70px 0 30px 0;
  }
  .main-title {
    font-size: 40px;
  }
 
  .sub-title {
    font-size: 40px;
  }
  .car-item-title {
    font-size: 15px;
    line-height: 120%;
  }
}
